.fable/
.fake/
.vs/
.idea/
.ionide/
.direnv/
obj/
bin/
packages/
node_modules/
src/Client/public/js/
release.cmd
release.sh
*.orig
*.DotSettings.user
deploy/
dist/
build/
*.db
*.env
build.fsx.lock
_*.yaml
result
